.button {
  border-radius: var(--button-border-radius);
  font-family: var(--font-family);
  &:hover {
    background-color: var(--primary-color-dark);
  }
  &-primary {
    @extend .button;
    background-color: var(--primary-color);
    font-weight: var(--button-primary-font-weight);
    color: var(--button-primary-font-color);
    border: transparent;
    font-size: var(--button-primary-font-size-lm);
    &-l {
      @extend .button-primary;
      width: var(--button-large-size-width);
      height: var(--button-large-size-height);
    }
    &-m {
      @extend .button-primary;
      width: var(--button-medium-size-width);
      height: var(--button-medium-size-height);
    }
    &-s {
      @extend .button-primary;
      width: var(--button-small-size-width);
      height: var(--button-small-size-height);
      font-size: var(--button-primary-font-size-s);
    }
    &.disabled {
      opacity: var(--disabled-opacity);
      &:hover {
        background-color: var(--primary-color);
      }
    }
  }
}
