<full-calendar [options]="calendarOptions" #calendar></full-calendar>

<app-button></app-button>

<button type="button" (click)="addEvent()">ADD EVENT</button>

<input type="file" id="file" accept="image/*" multiple>

<img src="{{ imageString }}" alt="bro">

<p>{{ response | async }}</p>