button {
  --button-large-size-width: 100px;
  --button-large-size-height: 50px;
  --button-medium-size-width: 84px;
  --button-medium-size-height: 38px;
  --button-small-size-width: 70px;
  --button-small-size-height: 32px;
  --button-border-radius: 6px;
}
