button {
  --font-family: "Inter";
  --button-primary-font-weight: 600;
  --button-primary-font-size-lm: 16px;
  --button-primary-font-size-s: 14px;
  --button-primary-font-color: var(--default-white);
}
